image: registry.gitlab.gnome.org/gnome/pygobject/main:v11

stages:
  - build_and_test
  - coverage
  - deploy

cache:
  paths:
    - _ccache/

.defaults: &defaults
  stage: build_and_test
  artifacts:
    paths:
      - coverage/
  script:
   - bash -x ./.gitlab-ci/test-docker.sh

.mingw-defaults: &mingw-defaults
  stage: build_and_test
  tags:
    - win32
  artifacts:
    paths:
      - coverage/
  script:
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2.sh"

coverage:
  stage: coverage
  artifacts:
    paths:
      - coverage/
  variables:
    PYENV_VERSION: "3.6.8"
  script:
    - bash -x ./.gitlab-ci/coverage-docker.sh

pages:
  stage: deploy
  dependencies:
    - coverage
  script:
    - mv coverage/ public/
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master

python2-mingw32:
  variables:
    PYTHON: "python2"
    MSYSTEM: "MINGW32"
    CHERE_INVOKING: "yes"
  <<: *mingw-defaults

python2-mingw64:
  variables:
    PYTHON: "python2"
    MSYSTEM: "MINGW64"
    CHERE_INVOKING: "yes"
  <<: *mingw-defaults

python3-mingw32:
  variables:
    PYTHON: "python3"
    MSYSTEM: "MINGW32"
    CHERE_INVOKING: "yes"
  <<: *mingw-defaults

python3-mingw64:
  variables:
    PYTHON: "python3"
    MSYSTEM: "MINGW64"
    CHERE_INVOKING: "yes"
  <<: *mingw-defaults

python2.7:
  variables:
    PYENV_VERSION: "2.7.16-debug"
  <<: *defaults

python3.5:
  variables:
    PYENV_VERSION: "3.5.7"
  <<: *defaults

python3.6:
  variables:
    PYENV_VERSION: "3.6.8"
  <<: *defaults

python3.7:
  variables:
    PYENV_VERSION: "3.7.3-debug"
  <<: *defaults

python3.8:
  variables:
    PYENV_VERSION: "3.8-dev-debug"
  <<: *defaults

pypy2.7:
  allow_failure: true
  variables:
    PYENV_VERSION: "pypy2.7-7.1.0"
  <<: *defaults

pypy3.6:
  allow_failure: true
  variables:
    PYENV_VERSION: "pypy3.6-7.1.0"
  <<: *defaults

xenial-i386-py2:
  stage: build_and_test
  image: registry.gitlab.gnome.org/gnome/pygobject/old:v2
  artifacts:
    paths:
      - coverage/
  script:
   - bash -x ./.gitlab-ci/test-docker-old.sh

gtk4:
  stage: build_and_test
  image: registry.gitlab.gnome.org/gnome/pygobject/gtk4:v4
  artifacts:
    paths:
      - coverage/
  script:
   - bash -x ./.gitlab-ci/test-docker-gtk4.sh

gnome-master:
  allow_failure: true
  stage: build_and_test
  image: registry.gitlab.gnome.org/gnome/gnome-runtime-images/gnome:master
  script:
    - xvfb-run -a flatpak run --filesystem=host --share=network --socket=x11 --command=bash org.gnome.Sdk//master -x .gitlab-ci/test-flatpak.sh
