stages:
  - build_and_test
  - coverage
  - deploy

cache:
  paths:
    - _ccache/

.defaults: &defaults
  stage: build_and_test
  image: lazka/pygobject:v3
  artifacts:
    paths:
      - coverage/
  script:
   - bash -x ./.gitlab-ci/test-docker.sh

.mingw-defaults: &mingw-defaults
  stage: build_and_test
  tags:
    - win32
  artifacts:
    paths:
      - coverage/
  script:
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2.sh"

coverage:
  stage: coverage
  image: lazka/pygobject:v3
  artifacts:
    paths:
      - coverage/
  variables:
    PYENV_VERSION: "3.6.5"
  script:
    - bash -x ./.gitlab-ci/coverage-docker.sh

pages:
  stage: deploy
  image: lazka/pygobject:v3
  dependencies:
    - coverage
  script:
    - mv coverage/ public/
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master

python2-mingw32:
  variables:
    PYTHON: "python2"
    MSYSTEM: "MINGW32"
    CHERE_INVOKING: "yes"
  <<: *mingw-defaults

python2-mingw64:
  variables:
    PYTHON: "python2"
    MSYSTEM: "MINGW64"
    CHERE_INVOKING: "yes"
  <<: *mingw-defaults

python3-mingw32:
  variables:
    PYTHON: "python3"
    MSYSTEM: "MINGW32"
    CHERE_INVOKING: "yes"
  <<: *mingw-defaults

python3-mingw64:
  variables:
    PYTHON: "python3"
    MSYSTEM: "MINGW64"
    CHERE_INVOKING: "yes"
  <<: *mingw-defaults

python2.7:
  variables:
    PYENV_VERSION: "2.7.14"
  <<: *defaults

python3.4:
  variables:
    PYENV_VERSION: "3.4.8"
  <<: *defaults

python3.5:
  variables:
    PYENV_VERSION: "3.5.5"
  <<: *defaults

python3.6:
  variables:
    PYENV_VERSION: "3.6.5"
  <<: *defaults

python3.7:
  variables:
    PYENV_VERSION: "3.7.0b3"
  <<: *defaults

pypy2:
  variables:
    PYENV_VERSION: "pypy2.7-5.10.0"
  <<: *defaults

pypy3:
  variables:
    PYENV_VERSION: "pypy3.5-5.10.1"
  <<: *defaults

xenial-i386-py2:
  stage: build_and_test
  image: lazka/pygobject:pyenv-old
  script:
   - bash -x ./.gitlab-ci/test-docker-old.sh
