.venv
.mypy_cache
*.bak
*.lo
*.o
*.orig
*.pyc
*.rej
*.so
*.la
*.tab.c
*~
.*.sw[nop]
*.gir
*.typelib
*.dll
*.dylib
.DS_STORE
.idea
.cache
.pytest_cache
/config.h
/tmp/*
/build/
/dist/
/pygobject.egg-info/
/docs/_build
/PyGObject.egg-info/
*.pyd
*.dll.a
.coverage
