image: registry.gitlab.gnome.org/gnome/pygobject/main:v21

stages:
  - build_and_test
  - coverage
  - deploy

cache:
  paths:
    - _ccache/

.defaults: &defaults
  stage: build_and_test
  artifacts:
    paths:
      - coverage/
  script:
   - bash -x ./.gitlab-ci/test-docker.sh

.mingw-defaults: &mingw-defaults
  stage: build_and_test
  tags:
    - win32-ps
  artifacts:
    paths:
      - coverage/
  script:
    - $env:CHERE_INVOKING = 'yes'
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2.sh"

coverage:
  stage: coverage
  artifacts:
    paths:
      - coverage/
  variables:
    PYTHON_VERSION: "3.9"
  script:
    - bash -x ./.gitlab-ci/coverage-docker.sh
  coverage: '/^\s+lines\.+:\s+([\d.]+\%)\s+/'

pages:
  stage: deploy
  dependencies:
    - coverage
  script:
    - mv coverage/ public/
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master

mingw32:
  variables:
    MSYSTEM: "MINGW32"
  <<: *mingw-defaults

mingw64:
  variables:
    MSYSTEM: "MINGW64"
  <<: *mingw-defaults

python3.8:
  variables:
    PYTHON_VERSION: "3.8"
    TEST_GTK_VERSION: "3.0"
  <<: *defaults

python3.9:
  variables:
    PYTHON_VERSION: "3.9"
    TEST_GTK_VERSION: "3.0"
  <<: *defaults

python3.10:
  variables:
    PYTHON_VERSION: "3.10"
    TEST_GTK_VERSION: "3.0"
  <<: *defaults

python3.11:
  variables:
    PYTHON_VERSION: "3.11"
    TEST_GTK_VERSION: "3.0"
  <<: *defaults

python3.11-gtk4:
  variables:
    PYTHON_VERSION: "3.11"
    TEST_GTK_VERSION: "4.0"
  <<: *defaults

python3.12:
  variables:
    PYTHON_VERSION: "3.12"
    TEST_GTK_VERSION: "3.0"
  <<: *defaults

pypy3.8:
  allow_failure: true
  variables:
    PYTHON_VERSION: "pypy3.8"
    TEST_GTK_VERSION: "3.0"
  <<: *defaults

old-i386-py3:
  stage: build_and_test
  image: registry.gitlab.gnome.org/gnome/pygobject/old:v6
  artifacts:
    paths:
      - coverage/
  script:
   - bash -x ./.gitlab-ci/test-docker-old.sh

gnome-master:
  allow_failure: true
  stage: build_and_test
  image: quay.io/gnome_infrastructure/gnome-runtime-images:gnome-master
  tags:
    - flatpak
  artifacts:
    paths:
      - coverage/
  variables:
    TEST_GTK_VERSION: "3.0"
  script:
    - bash -x ./.gitlab-ci/test-flatpak.sh

gnome-master-gtk4:
  allow_failure: true
  stage: build_and_test
  image: quay.io/gnome_infrastructure/gnome-runtime-images:gnome-master
  tags:
    - flatpak
  artifacts:
    paths:
      - coverage/
  variables:
    TEST_GTK_VERSION: "4.0"
  script:
    - bash -x ./.gitlab-ci/test-flatpak.sh

minimal-meson:
  stage: build_and_test
  image: quay.io/fedora/fedora:39 
  before_script:
    - dnf install --assumeyes gcc meson git flex bison diffutils python3-devel python3-pytest
  script:
    - meson setup _build
    - meson compile -C _build
    - PYTEST_ADDOPTS="-k 'not test_cairo'" meson test -C _build --verbose