.venv
.mypy_cache
*.bak
*.lo
*.o
*.orig
*.pyc
*.rej
*.so
*.la
*.tab.c
*~
.*.sw[nop]
*.gir
*.typelib
*.dll
*.dylib
.DS_STORE
.deps
.libs
.idea
.cache
.pytest_cache
gschemas.compiled
pygobject-*.tar.xz
Makefile
Makefile.in
/.dirstamp
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/PKG-INFO
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/glib-2.0.m4
/m4/pkg.m4
/m4/ax_*.m4
/missing
/mkinstalldirs
/omf.make
/py-compile
/pygobject-3.0-uninstalled.pc
/pygobject-3.0.pc
/pygobject-*-coverage*
/so_locations
/stamp-h1
/tags
/xmldocs.make
/tmp/*
/build/
/dist/
/pygobject.egg-info/
/MANIFEST
/docs/_build
/PyGObject.egg-info/
*.pyd
*.dll.a
.coverage
poetry.lock