image: registry.gitlab.gnome.org/gnome/pygobject/main:v19

stages:
  - build_and_test
  - coverage
  - deploy

cache:
  paths:
    - _ccache/

.defaults: &defaults
  stage: build_and_test
  artifacts:
    paths:
      - coverage/
  script:
   - bash -x ./.gitlab-ci/test-docker.sh

.mingw-defaults: &mingw-defaults
  stage: build_and_test
  tags:
    - win32-ps
  artifacts:
    paths:
      - coverage/
  script:
    - $env:CHERE_INVOKING = 'yes'
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2.sh"

coverage:
  stage: coverage
  artifacts:
    paths:
      - coverage/
  variables:
    PYENV_VERSION: "3.8.16-debug"
  script:
    - bash -x ./.gitlab-ci/coverage-docker.sh
  coverage: '/^\s+lines\.+:\s+([\d.]+\%)\s+/'

pages:
  stage: deploy
  dependencies:
    - coverage
  script:
    - mv coverage/ public/
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master

mingw32:
  variables:
    MSYSTEM: "MINGW32"
  <<: *mingw-defaults

mingw64:
  variables:
    MSYSTEM: "MINGW64"
  <<: *mingw-defaults

python3.7:
  variables:
    PYENV_VERSION: "3.7.16-debug"
  <<: *defaults

python3.8:
  variables:
    PYENV_VERSION: "3.8.16-debug"
  <<: *defaults

python3.9:
  variables:
    PYENV_VERSION: "3.9.16-debug"
  <<: *defaults

python3.10:
  variables:
    PYENV_VERSION: "3.10.9-debug"
  <<: *defaults

python3.11:
  variables:
    PYENV_VERSION: "3.11.1-debug"
  <<: *defaults

pypy3.8:
  allow_failure: true
  variables:
    PYENV_VERSION: "pypy3.8-7.3.11"
  <<: *defaults

old-i386-py3:
  stage: build_and_test
  image: registry.gitlab.gnome.org/gnome/pygobject/old:v5
  artifacts:
    paths:
      - coverage/
  script:
   - bash -x ./.gitlab-ci/test-docker-old.sh

gnome-master:
  allow_failure: true
  stage: build_and_test
  image: quay.io/gnome_infrastructure/gnome-runtime-images:gnome-master
  tags:
    - flatpak
  script:
    # https://gitlab.gnome.org/GNOME/gnome-runtime-images/-/issues/7
    - export DBUS_SYSTEM_BUS_ADDRESS="$(dbus-daemon --session --print-address --fork)"
    - xvfb-run -a flatpak run --user --filesystem=host --share=network --socket=x11 --command=bash org.gnome.Sdk//master -x .gitlab-ci/test-flatpak.sh

gnome-master-gtk4:
  allow_failure: true
  stage: build_and_test
  image: quay.io/gnome_infrastructure/gnome-runtime-images:gnome-master
  tags:
    - flatpak
  script:
    # https://gitlab.gnome.org/GNOME/gnome-runtime-images/-/issues/7
    - export DBUS_SYSTEM_BUS_ADDRESS="$(dbus-daemon --session --print-address --fork)"
    - xvfb-run -a flatpak run --user --filesystem=host --share=network --socket=x11 --command=bash org.gnome.Sdk//master -x .gitlab-ci/test-flatpak-gtk4.sh
  artifacts:
    paths:
      - coverage/
