include *.am
include autogen.sh
include configure.ac
include COPYING
include HACKING
include *.in
include INSTALL
include m4/introspection.m4
include m4/python.m4
include NEWS
include tools/pygi-convert.sh
include pygobject.doap
include README.rst
recursive-include examples *.py *.am *.png *.css *.ui *.gif *.gresource *.jpg *.xml
recursive-include gi *.am *.h
recursive-include pygtkcompat *.am
recursive-include tests *.py *.c *.h *.xml *.supp *nouppera *.am
