[project]
name = "PyGObject"
version = "3.47.1"
description = "Python bindings for GObject Introspection"
license = { text = "GNU Lesser General Public License v2.1 (LGPLv2.1)" }
authors = [
    { name="James Henstridge", email="james@daa.com.au" }
]
maintainers = [
    { name="Simon Feltman", email="sfeltman@src.gnome.org" },
    { name="Christoph Reiter" },
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU Lesser General Public License v2 or later (LGPLv2+)",
    "Operating System :: POSIX",
    "Operating System :: Microsoft :: Windows",
    "Programming Language :: C",
    "Programming Language :: Python",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
requires-python = ">=3.8, <4"
dependencies = [
    "pycairo>=1.16"
]

[project.urls]
Homepage = "https://gnome.pages.gitlab.gnome.org/pygobject"
Repository = "https://gitlab.gnome.org/GNOME/pygobject.git"
Changelog = "https://gitlab.gnome.org/GNOME/pygobject/-/blob/master/NEWS"

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-cov",
    "flake8",
]
docs = [
    "sphinx>=4.0,<5.0",
    "sphinx-rtd-theme>=0.5,<2.0",
]

[tool.meson-python.args]
setup = ["-Dwheel=true", "--wrap-mode=nofallback"]

[tool.pytest.ini_options]
testpaths = [
    "tests",
]
python_files = "test_*.py"
addopts = [
    "--import-mode=importlib",
]

[build-system]
build-backend = "mesonpy"
requires = ["meson-python>=0.12.1", "pycairo>=1.16"]
