[tool.poetry]
name = "PyGObject"
version = "3.43.1"
description = "Python bindings for GObject Introspection"
authors = ["Christoph Reiter"]

[tool.poetry.dependencies]
python = "^3.7"
pycairo = "^1.16"

[tool.poetry.dev-dependencies]
pytest = "^7.0.0"
flake8 = "^3.9.1"
Sphinx = "^3.5.4|^4.2.0"
sphinx-rtd-theme = "^0.5.2|^1.0.0"
coverage = "^6.3.2"

[build-system]
requires = ["setuptools", "wheel", "pycairo"]
